body{

    position: absolute;
    top: 50%;
    left: 50%;
    color: aliceblue;
    transform: translate(-50%,-50%);
    background-color: black;
    }
#time{
    border: 20px solid rgb(255, 255, 255);
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
}
