textarea{
    
    resize: none;
    color: black;
    

    
}
.backgroundGray{
    position: fixed; /* 固定位置 */
    z-index: 1; /* 置於頂層 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* 黑色背景透明度 */
}
.clearBody {
    background-color: aliceblue;
    margin: 30px;
    padding: 10px;
    border: 2px solid black;
    
}
#StartTest{
    position: absolute;

    top: 35%;
    
    left: 50%;
    
    transform: translate(-50%,-50%);
}
#TestNowChick{
    height: 90%;
}
#TestNow_Words{
    width: 80%;
    height: 60%;
}
#TestNow{
    position: absolute;

    top: 40%;
    
    left: 50%;
    
    transform: translate(-50%,-50%);
    
}
.tool{
    border-radius: 80px;
    size: 2px;
    background: #48c907b6;
    padding: 30px 30px; 
}
.tool:hover {
    background: #48c907b6; /* 改變漸變背景方向 */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* 增強陰影效果 */
    transform: translateY(-5px); /* 設置向上移動的動畫效果 */
}
#TestNow_Name {
    border: 5px solid black;
}

#stopButton{
    padding: 20px 20px;
    position: absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#fixButton{
    padding: 55px;
    position: absolute;
    top:10%;
    right: 0%;
    background-image: url(../image/fix.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: translate(-50%,-50%);
}
#edit{
    background-image: url(../image/pen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#Delete{
    background-image: url(../image/trash.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}